<html>
    <body>
        {% url 'post-url-2' 1990 09 30 01 %} <!--反解析  url.py裡的name 網址隨意打post2/2/1/2/3都會變成post2/1990/09/30/01-->
        {% url 'post-url-2' yr mon day post_num%} <!--顯示自己打的子網域的參數-->
    </body>
</html>